{% extends 'layout.html' %}

{% block contend %}
    <h4>新建部门</h4>
    <div class="card text-center" style="margin-top: .5rem;width: 25rem">
        <div class="row justify-content-md-center">
            <div class="col-md-11">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col" style="margin-top: 1rem">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Add department</span>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Name"
                                           name="name">
                                    <label for="floatingInputGroup1">Name</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <button type="submit" class="btn btn-outline-success btn-sm" style="margin-top: 2rem">新增
                            </button>
                        </div>
                    </div>
                    <span style="color: #20c997">{{ newinfo }}</span>
                </form>


            </div>
        </div>
    </div>
{% endblock %}
